<h2>Teams</h2>

<ul class="teams">
  <li *ngFor="let team of teams">
    <a routerLink="/detail/{{team.name}}">
      <span class="badge">{{team.date}} </span> {{team.message}}
    </a>
  </li>
</ul>
